@import "core/settings";

body {
  background-color: lightseagreen;
}

.home {
  margin: 20px;
}

.page__header {
  height: 75px;
  width: 100%;
}

.logos_container {
  position: relative;
}

.logo_1 {
  position: $position_absolute;
  top: 10px;
  left: 4px;
}

.logo_2 {
  position: $position_absolute;
  visibility: hidden;
  top: 10px;
  right: 20px;
}

.section1 {
  height: 50vh;
  border: solid blue 2px;
  background-color: $background-color_section1_and_button;
  text-align: center;
  overflow: scroll;
  padding: 15px;
  font-size: 100%;
}

.section2 {
  font-size: 100%;
}

.button {
  border: 0.3125rem solid red;
  border-radius: 0.9375rem;
  height: 2.813rem;
  width: 18.75rem;
  background-color: darkred;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wizarding_world_a:hover {
  background-color: $background-color_section1_and_button;
  color: blue;
  border: solid darkblue;
}

.wizarding_world_a {
  text-decoration: none;
  color: salmon;
  font-family: "Poor Story", cursive;
  font-weight: bold;
  font-size: 1.125rem;
}

@media (min-width: 768px) {
  /**tablet**/
  .page__header {
    height: 100px;
  }

  .logo_2 {
    visibility: $visibility_visible;
  }
}

@media (min-width: 1280px) {
  /**desktop**/
  .page__header {
    height: 110px;
  }

  .logo_2 {
    visibility: $visibility_visible;
  }
}
